<h3>{{ title }}</h3>
<hr>
<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
  -
  <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Fruta</a>
  -
  <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a>
  -
  <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a>
  -
  <a [routerLink]="['/coches']" [routerLinkActive]="['activado']">Coches</a>
  -
  <a [routerLink]="['/plantilla']" [routerLinkActive]="['activado']">Plantillas</a>
</nav>
<router-outlet></router-outlet>
